body {
    background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 1440px;
    width: 960px;
    margin: auto;
}

h1 {
    display: none;
}

img {
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

.brief {
    margin-left: 24px;
}

header {
    padding: 10% 10% 0% 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main {
    padding-left: 10%;
}

footer {
    padding-left: 10%;
}